@import "../../../../assets/color";

.login {
  height: 100vh;
  background: $background;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    width: 100%;
    background: $container;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &--logtext {
      font-size: 48px;
      color: $primaryText;
      margin-bottom: 10px;
    }

    &__inputs {
      display: flex;
      margin-bottom: 10px;

      &__container {
        display: flex;
        flex-direction: column;
        flex: 0.5;

        &--input {
          display: flex;
          background: 0;
          border: 3px solid $primaryText;
          border-radius: 10px;
          padding: 5px;
          outline: none;
          margin-right: 10px;
          resize: none;
          color: $primaryText;
        }

        &--input::placeholder {
          color: $primaryText;
        }
      }
    }

    &--button {
      display: flex;
      flex: 0.1;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: 0;
      border: 3px solid $primaryText;
      border-radius: 10px;
      color: $primaryText;
      outline: none;
    }

    &--button:hover {
      background: $primaryText;
      color: $container;
    }
  }
}
