<section class="login">
  <form class="login__container" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <span class="login__container--logtext">Login to todo service</span>
    <div class="login__container__inputs">
      <div class="login__container__inputs__container">
        <input class="login__container__inputs__container--input" placeholder="Email..." formControlName="email">
        <app-error-message [control]="authForm.get('email')"></app-error-message>
      </div>
      <div class="login__container__inputs__container">
        <input class="login__container__inputs__container--input" placeholder="Password..." formControlName="password"
               type="password">
        <app-error-message [control]="authForm.get('password')"></app-error-message>
      </div>
    </div>
    <div>
      <button class="login__container--button">Login</button>
    </div>

  </form>
</section>
