@import "../../../../assets/color";

.todo-section {
  min-height: 100vh;
  background: $background;
  padding: 0 25% 0 25%;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    background: $container;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__text-container {
      display: flex;
      flex-direction: column;

      &--delete {
        background: none;
        border: 3px solid $warn;
        border-radius: 10px;
        font-size: 20px;
        color: $warn;
        padding: 5px;
        margin-left: 10px;
        outline: none;
      }

      &--delete:hover {
        background: $warn;
        color: $container;
      }

      span {
        font-size: 48px;
        color: $primaryText;
        padding-bottom: 10px;
      }

      p {
        font-size: 20px;
        color: $accentText;
        margin: 0 0 0 5px;
        padding-left: 5px;
        border-left: 1px solid $accentText;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

      }
    }

    &--input {
      background: 0;
      border: 3px solid $primaryText;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      margin-right: 10px;
      resize: none;
      color: $primaryText;
    }

    &--input::placeholder {
      color: $primaryText;
    }

    &--textarea {
      display: flex;
      flex: 0.9;
    }

    &--button {
      display: flex;
      flex: 0.1;
      justify-content: center;
      align-items: center;
      background: 0;
      border: 3px solid $primaryText;
      border-radius: 10px;
      color: $primaryText;
      outline: none;
    }

    &--button:hover {
      background: $primaryText;
      color: $container;
    }
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;

    &--input {
      background: $container;
      color: $primaryText;
      border: 0;
      border-radius: 20px;
      padding: 10px;
      outline: none;
      margin-right: 10px;
    }

    &--input::placeholder {
      color: $primaryText;
    }
  }

  &__container:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.40);
    transform: scale(1.01);
  }
}

.selected {
  text-decoration: line-through;
}

.delete-container {
  display: flex;
  align-items: center;
}

