<section class="todo-section">
  <div class="todo-section__search">
    <input class="todo-section__search--input" placeholder="Search..." #search (keyup)="findByName(search.value)">
    <span (click)="logout()">Logout</span>
    <span [routerLink]="'/chat'">Chat</span>
  </div>
  <form class="todo-section__container" *ngIf="taskForm" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <textarea class="todo-section__container--input" placeholder="Write name task" formControlName="name"></textarea>
    <textarea class="todo-section__container--input todo-section__container--textarea"
              placeholder="Write description task" formControlName="description"></textarea>
    <button class="todo-section__container--button">Save</button>
  </form>
  <div class="todo-section__container" *ngFor="let todo of todos">
    <div>
      <app-select [todo]="todo" (id)="emitId($event)"></app-select>
    </div>
    <div class="todo-section__container__text-container">
      <div class="delete-container">
        <span [ngClass]="{selected: todo.selected}">{{todo.name}}</span>
        <div>
          <button class="todo-section__container__text-container--delete" (click)="deleteTask(todo.id)">delete</button>
        </div>
      </div>
      <p>{{todo.description}}</p>
    </div>
    <div>
      <app-markers [markers]="markers" [markerColors]="todo.markers" [todoId]="todo.id"></app-markers>
    </div>
  </div>
</section>
