@import "../../../../assets/color";

.select {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px 0 30px;

  &__circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #544444;
    cursor: pointer;
  }

  //&__circle:hover {
  //  background: #544444;
  //}
}

.selected {
  background: #544444;
}

//.selected:hover {
//  background: 0;
//}
