@import "../../../../assets/color";

.markers {
  position: absolute;
  right: 25px;
  top: 15px;
  display: flex;
  flex-direction: row;

  &__color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__container {
    display: flex;
    flex-direction: row;

    &__option {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid $accentText;
      margin-left: 3px;
      cursor: pointer;
    }
  }
}

.cont:hover .opt {
  background: $accentText;
}

.colors {
  background: $container;
  position: absolute;
  padding: 5px;
  min-width: 200px;
  border-radius: 20px;
  right: -230px;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__text {
    font-size: 20px;
  }

  &__add {
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
  }

  &__add-color {
    display: flex;
    flex-direction: column;

    &--input {
      background: none;
      border: 3px solid $primaryText;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      color: $primaryText;
      margin-bottom: 10px;
    }

    &--picker {
      border: 3px solid $primaryText;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      margin-bottom: 10px;
    }

    &--button {
      background: none;
      border: 3px solid $primaryText;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      color: $primaryText;
    }

    &--button:hover {
      background: $primaryText;
    }
  }

  p {
    margin: 5px;
    display: flex;
    justify-content: center;
  }

  &__color {
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px ;
    border-radius: 6px;
    cursor: pointer;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__color:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
