<section class="markers" (click)="isOpen = !isOpen">
  <div *ngFor="let color of markerColors">
    <div class="markers__color" [ngStyle]="{'background': '#' + color.color}">
    </div>
  </div>
  <div class="markers__container cont">
    <div class="markers__container__option opt"></div>
    <div class="markers__container__option opt"></div>
    <div class="markers__container__option opt"></div>
  </div>
</section>

<section class="colors" *ngIf="isOpen">
  <p class="colors__text">Colors</p>
  <div class="colors__add" (click)="isAdd = !isAdd">
    +
  </div>
  <div *ngIf="isAdd" class="colors__add-color">
    <input class="colors__add-color--input" placeholder="Write name color" #nameInput>
    <input class="colors__add-color--picker" [(colorPicker)]="color" [style.background]="color" [cpPosition]="'bottom'"/>
    <button class="colors__add-color--button" (click)="saveColor(nameInput.value, color); isAdd = !isAdd">Add color</button>
  </div>
  <div *ngIf="!isAdd">
    <div *ngFor="let marker of markers" class="colors__color" [ngStyle]="{'background': '#' + marker.color}"
         (click)="selectColor(todoId, marker.color)">
      <span>{{marker.name}}</span>
      <span *ngIf="prepareSelectedColor(marker.color)">*</span>
    </div>
  </div>
</section>
